.root {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    /* background: #f6f6f6; */
}

.footer {
    grid-area: footer;
}